

DarkModeTest-Day2/*/DarkModeTest-Day2UITests
DarkModeTest-Day2/*/DarkModeTest-Day2Tests


OneSecond-Day1/*/OneSecond-Day1Tests
OneSecond-Day1/*/OneSecond-Day1UITests

DarkModeTest-Day2/DarkModeTest-Day2.xcodeproj/project.xcworkspace/xcuserdata/Cesar-Melchor.xcuserdatad/UserInterfaceState.xcuserstate



